*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
}

body{
    background-color: #F9F8F8;
    width: 90%;
    height: 100vh;
    margin: auto;
}

.card{ 
    margin: 2rem auto 0;
    width: 90%;
    height: 154px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: #FF6954;
    padding: 0 2rem;
    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.25);

    &__header{
        font-size: 14px;
        font-weight: 400;
        color: white;
    }

    &__balance{
        font-size: 22px;
        font-weight: 600;
        color: white;
    }

    &__button{
        width: fit-content;
        background-color: #FFA89C;
        padding: .4rem 1rem;
        border-radius: 100px;
        font-weight: 500;
    }

    &__balance, &__button{
        margin-top: .5rem;
    }
}

.pot{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;

    &__item{
        height: 157px;
        width: 157px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &--create{
            border: 1px dashed hsla(0, 0%, 0%, 0.50);
            button{
                color: hsla(0, 0%, 0%, 0.50);
                height: 100%;
                width: 100%;
            }
        }
    }

    &__item--added{
        background-color: hsl(7, 70%, 66%);
        padding: .5rem 0;
        justify-content: space-between;
    }

    &__name{
        font-size: 15px;
        font-weight: 400;
    }
    &__amount{
        font-size: 21px;
    }
    &__buttons{
        button{
            border-radius: 100px;
            width: 40px;
            height: 40px;
        }
        button + button{
            margin-left: 1rem;
        }

        .add{
            background-color: hsl(125, 100%, 40%);
        }
        .withdrawl{
            background-color: hsl(0, 100%, 40%);
        }
    }

}

// .modal{
//     input{
//         border: 1px solid black;
//         display: block;
//     }
// }